<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>



  <h5>Choose a tag(optional)</h5>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>

<%= f.fields_for :new_tag, @tag do |u| %>
<div class="field">
  <h5>Create a new tag(optional)</h5>
    <%= u.fields_for :tag do |n| %>
      <%= n.label "Tag"%>
      <%= n.text_field :name %>
      <%end %>
<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
