<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>



<%= f.fields_for :tag_ids do |tag|%>
<div class="field">
  <h5>Choose a tag(optional)</h5>
  <%= tag.collection_check_boxes :ids, Tag.all, :id, :name %>
  <h5>Create a new tag(optional)</h5>
    <%= tag.fields_for :new_tag, Tag.new do |u| %>
      <%= u.label "Tag"%>
      <%= u.text_field :name %>
      <%end %>
      <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
