<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4>Click on a post below!</h4>
<div id="showPosts"></div>
<div id="showPost"></div>


<br><br><button id="new-post-form">Create a new Post</button><br>
<div>
  <form id="create-post">
    <input type="text" placeholder="Post Name" id="post-name">
    <input type="text" placeholder="Post Content" id="post-content">
    <input type="text" placeholder="Create a tag(optional)" id="tag-name">
    <input type="submit" value="create">
  </form>
</div>


<%= link_to 'New Post', new_post_path %>
