<%= render "layouts/navbar" %>
  <p id="notice"><%= notice %></p>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8"><br>
                <div id="deleteButton"></div>
                  <!-- <a align-content="center" href="#" class="myButton">Delete Post</a><br> -->
                <table>
                  <tr>
                    <td><h1 class="hideEditContent" id="post-name"></h1></td>
                    <td><img class="editPage" width="40" height="" src="http://findicons.com/files/icons/2711/free_icons_for_windows8_metro/512/edit_property.png" /></td>
                  </tr>
                </table>

                <!-- Edit Posts Name Form  -->

                <div class="hideEditForm">
                  <form class="editNameForm">
                    <input type="text" id="edit-name"><br>
                    <input type="submit" class="myButton">
                  </form>
                </div>

                <!-- Author -->
                <p class="lead">
                    by <%=@post.user.email%>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <div class="hideEditContent">
                  <p class="lead"  id="post-content"></p>
                </div>
                <!-- Edit Content form  -->
                <div class="hideEditForm">
                  <p class="lead" >
                    <form class="editNameForm">
                      <textarea id="edit-content"></textarea><br>
                      <input  class="myButton" type="submit"/>
                    </form>
                  </p>
                </div>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form class="create-comment">
                        <div class="form-group">
                                <textarea class="form-control"
                                          rows="3" type="text"
                                          placeholder="Create Comment"
                                          id="new-comment"></textarea>
                              <input type="hidden" value="<%=@post.id%>" id="post_id">
                              </div>
                          <input type="submit" class="btn btn-primary">
                    </form>
                </div>
                <hr>
                <!-- Posted Comments -->
                <div id="showComments"></div>
                <!-- Comment -->


                <!-- <%= link_to 'Edit | ', edit_post_path(@post) if @post.user.id == current_user.id %> -->
                <%= link_to 'Back', posts_path %>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">


                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>

                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <div class="row">
                        <div class="col-lg-8">


                            <button id="tag-listener">Tags:</button>
                              <button id="remove-tag">Hide Tags:</button> - <strong id="numberoftags"></strong>

                              <ul class="list-group">
                                <div id='tags'></div>
                              </ul>

                            <form id="create-tag">
                              <input type="text" placeholder="create a tag here"  id="new-tag">
                              <input type="submit" value="create">
                            </form>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->
