<p id="notice"><%= notice %></p>

<p>
  <h3>Name:</h3>
  <%= @post.name %>
  <h3>Content:</h3>
  <%= @post.content %><br><br>
  <button id="tag-listener">Tags:</button>
  <button id="remove-tag">Hide Tags:</button> - <strong id="numberoftags"></strong>
  <div id='tags'></div>

<form id="create-tag">
  <input type="text" placeholder="create a tag here"  id="new-tag">
  <input type="submit" value="create">
</form>
</p>

<button id="showComments">Comments: </button><br><br>

<form id="create-comment">
  <input type="text" placeholder="Create Comment" id="new-comment">
  <input type="submit">
</form>

<!-- in order to do an edit form... take the index form,  copy and paste-->
<!--  then we can add the values with rails logic -->



<%= link_to 'Edit | ', edit_post_path(@post) if @post.user.id == current_user.id %>
<%= link_to 'Back', posts_path %>
