<!DOCTYPE html>
<html>
  <head>
    <title>JqueryBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

  </head>

  <body>
    <div class="w3-container w3-green">
      <% flash.each do |name, msg| %>
          <p><%= content_tag :div, msg, id: "flash_#{name}" %></p>
      <% end %>
    </div>


    <%= yield %>
  </body>
</html>
